{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse">
		Категории: 
		<div class="btn-group" style="margin-left: 20px;">
			<a class="btn btn-primary" href="{{ url_for('app.controllers.index.index') }}">Все</a>
			{% for category in categories %}<a class="btn btn-primary" href="{{ url_for('app.controllers.index.index', category=category.id) }}">
				{{ category.name }}
			</a>{% endfor %}
		</div>
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse">
		Фильтры: 
		<form class="form-inline" style="margin-left: 20px;">
			<input type="text" class="form-control" id="inlineFormInputName2" placeholder="Jane Doe">
			<select class="custom-select">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<button type="submit" class="btn btn-primary">Применить</button>
		</form>
	</div>
</nav>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Category</th>
			<th scope="col">Price</th>
			<th scope="col">Prop 1</th>
			<th scope="col">Prop 2</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}<tr>
			<th scope="row">{{ loop.index }}</th>
			<td>{{ product.name }}</td>
			<td>{% with cat = product.category %}{% include 'partials/category.html' %}{% endwith %}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.prop1 }}</td>
			<td>{{ product.prop2 }}</td>
		</tr>{% endfor %}
	</tbody>
</table>
{% endblock %}