{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse">
		Категории: 
		<div class="btn-group" style="margin-left: 20px;">
			<a class="btn btn-primary" href="{{ url_for('app.controllers.index.index') }}">Все</a>
			{% for category in categories %}<a class="btn btn-primary" href="{{ url_for('app.controllers.index.index', category=category.id) }}">
				{{ category.name }}
			</a>{% endfor %}
		</div>
	</div>
</nav>



<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Category</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}<tr>
			<th scope="row">{{ loop.index }}</th>
			<td>{{ product.name }}</td>
			<td>{{ product.category.name }}</td>
		</tr>{% endfor %}
	</tbody>
</table>
{% endblock %}